* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}


body {
    background: #050b16;
    color: white;
    height: 100vh;
    overflow: hidden;
}


.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* HEADER */

header {
    height: 70px;
    background: #081426;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #1c3555;
}


header h1 {
    font-size: 22px;
    letter-spacing: 2px;
}


.status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}


.dot {
    width: 12px;
    height: 12px;
    background: #00ff88;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}


@keyframes pulse {

    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }

}



/* MAIN */

main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 15px;
    padding: 15px;
}


/* MAPPA */

.map-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #233d61;
}


#map {
    height: 100%;
    width: 100%;
}


.radar-controls {

    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    gap: 10px;

    z-index: 1000;
}


button {

    background: #0b2038;
    color:white;

    border:1px solid #345477;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;

}


button:hover {

    background:#16375e;

}



/* SIDEBAR */

aside {

    display:flex;
    flex-direction:column;
    gap:15px;

}


.card {

    background:#081426;

    border:1px solid #203957;

    border-radius:15px;

    padding:20px;

    box-shadow:0 0 20px rgba(0,0,0,.4);

}


.card h2 {

    margin-bottom:15px;

    font-size:18px;

}


.card h3 {

    font-size:45px;

    margin:10px 0;

}



.forecast-row {

    display:flex;

    justify-content:space-between;

    padding:12px 0;

    border-bottom:1px solid #203957;

    font-size:18px;

}



/* RESPONSIVE */

@media(max-width:900px){

    body{
        overflow:auto;
    }


    main{

        grid-template-columns:1fr;

        height:auto;

    }


    #map{

        height:500px;

    }

}
